.header {
  font-weight: 600;
  font-size: 1.3em;
  color: #fff;
  position: absolute;
  left: 40%;
}

.modal-header {
  background-color: #388fe9;
}

.image-qr {
  width: 50%;
}

.modal-body {
  margin-top: -15px;
}

.input-field {
  border: none;
  width: 100%;
  padding: 0.3em 0.8em;
  margin: 0.3em 0;
}

#card_expiry_mm {
  width: 100%;
}

.btn-pay {
  background-color: #46ce7c !important;
  border: none !important;
  /* width: 40%; */
  /* height: 2em; */
  padding: 0.5em 2em !important;
  font-weight: 600;
}

::placeholder {
  color: #cecece;
  font-size: 0.75em;
}

.logo {
  height: 20px !important;
  /* width: 90px; */
}

.footer {
  font-size: 0.9em;
}
